<section id='recipe-listing'>
</section>

<!---------------------------------------->
<!-- defining an underscore.js template -->
<!-- for a single recipe details listing-->
<!---------------------------------------->
<article>

    <!-------------------------------->
    <!-- individual recipe heading  -->
    <!-------------------------------->
    <div class="section" id="recipe-heading">
        <h2>{{NameOfDish}}</h2>
        <h4>{{Restaurant}}</h4>

        <div class="card-recipe-tags">
            {{#each Tags}}
              <div class="chip">{{this}}</div>
                {{/each}}
              </div>
        </div>

    <!-------------------------------->
    <!-- individual recipe image(s) -->
    <!-------------------------------->
    <div class="section" id="recipe-image-section">
        <div class="row">
            <div class="col l3 m2 s0"></div>
            <div class="col l6 m8 s12">
                <img id="recipe-main-image" class="materialboxed" src={{RecipeImage}}>
            </div>
            <div class="col l3 m2 s0"></div>
        </div>
    </div>

    <!-------------------------------->
    <!--     cook time section      -->
    <!-------------------------------->
    <div class="section">

        <div class="row" id="cook-time-row">
            <div class="col l2 m1 s0"></div>
            <div id="cooktime-div" class="col l4 m5 s6">
                <h5><i class="material-icons">schedule</i> PREPTIME:</h5>
                <p> {{PrepTime}}</p>
            </div>
            <div id="cooktime-div" class="col l4 m6 s5">
                <h5><i class="material-icons">schedule</i> COOKTIME:</h5>
                <p> {{CookTime}}</p>
            </div>
            <div class="col l2 m0 s0"></div>
        </div> <!-- end row -->

        <div class="divider"></div>

    <!-------------------------------->
    <!--  ingredients & directions  -->
    <!-------------------------------->
    <div class="section">
        <div class="row" id="directions-section">
            <div class="col l2 m1 s0"></div>

            <div class="col l4 m5 s12">
                <h4 class="list-header">INGREDIENTS</h4>
                <ul class="directions-list">

                  {{#each Ingredients}}
                    <li>{{this}}</li>
                  {{/each}}

                </ul>
            </div>

            <div class="col l4 m6 s12">
                <h4 class="list-header">DIRECTIONS</h4>
                <ol class="directions-list">
                  {{#each Directions}}
                    <li>{{this}}</li>
                  {{/each}}
                </ol>
            </div>
            <div class="col l2 m0 s0"></div>
        </div> <!-- end row -->
    </div> <!-- end section -->

    <!------------------------------->
    <!-- sourcename and sourcelink -->
    <!------------------------------->
    <div class="section">
        <div class="row">
            <div id="take-space" class="col l2 m1 s0"></div>
            <div class="col l6 m6 s12">
              <p>Source: <a href= {{SourceLink}} target="_blank"> {{SourceName}} </a></p>
            </div>
            <div class="col l2 m0 s0"></div>
        </div> <!-- end row -->
    </div> <!-- end section -->

</article>
</script>

<!-- loading custom app -->
<script src='/javascripts/app.js'></script>
<script src="/javascripts/app.views.js"></script>
<script src='/javascripts/ajax.js'></script> <!-- for search call -->
